/*!*****************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!./components/chat/chat.css ***!
  \*****************************************************************************/
.chat-container {
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}

.chat-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #9e63e9;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.chat-header .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}

.user-block .username {
    margin: 0;
}

.chat-header .header-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.chat-header .header-right .icons {
    font-size: 25px;
    margin: 0 10px;
}

.user-block {
    display: flex;
    flex-direction: column;
}

.chat-body {
    height: calc(100vh - 100px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}

.chat-message {
    display: flex;
    margin-bottom: 10px;
}

.chat-message.user {
    display: flex;
    flex-direction: row-reverse;
}

.chat-message .message-content {
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    word-wrap: break-word;
    margin-left: 10px;
    cursor: pointer;
}

.chat-message.user .message-img {
    padding: 4px;
    border-radius: 10px;
    max-width: 95%;
    word-wrap: break-word;
    margin-left: 10px;
    background-color: #c398ff;
    color: white;
}

.chat-message.other .message-img {
    padding: 4px;
    border-radius: 10px;
    max-width: 95%;
    word-wrap: break-word;
    margin-left: 10px;
    background-color: #e0e0e0;
}

.chat-message.user .message-content {
    background-color: #bb8cfdd3;
    color: white;
}

.chat-message.other .message-content {
    background-color: #e0e0e0;
}

.chat-message .message-time {
    font-size: 12px;
    color: #5d5d5d;
    display: flex;
    flex-direction: row-reverse;
}

.img-time {
    padding-right: 5px;
}

.img {
    border-radius: 3px;
}

.chat-footer {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
    position: sticky;
    bottom: 0;
    z-index: 1;
}

.chat-footer .form-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chat-footer .form-input:focus {
    outline-color: #818181;
}

.material-symbols-outlined.checked {
    color: #2f0369;
    font-size: 18px;
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 200,
        'opsz' 48
}

.material-symbols-outlined.send {
    padding-top: 3px;
    margin-left: 5px;
    margin-right: 3px;
    color: #9e63e9;
    font-size: 40px;
    font-variation-settings:
        'FILL' 1,
        'wght' 100,
        'GRAD' 200,
        'opsz' 48
}

.material-symbols-outlined.back {
    font-size: 25px;
    padding: 5px;
    margin-right: 5px;
    margin-left: 10px;
}

.material-symbols-outlined.attach {
    color: #ccc;
    font-size: 25px;
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 40
}

.material-symbols-outlined.attach:hover {
    color: #818181;
    cursor: not-allowed;
    transition: transform 0.2s ease;
    transform: translateY(-3px);
}

.material-symbols-outlined.toucheble:hover {
    cursor: pointer;
    color: #2f0369;
    transition: transform 0.2s ease;
    transform: translateY(-3px);
}

.new-message {
    box-shadow: 0 0 0 #dac0ff;
    animation: pulse 2s;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 #dac0ff;
    }

    70% {
        -webkit-box-shadow: 0 0 0 3px #dac0ff;
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 #dac0ff;
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 #dac0ff;
        box-shadow: 0 0 0 0 #dac0ff;
    }

    70% {
        -moz-box-shadow: 0 0 0 3px #dac0ff;
        box-shadow: 0 0 0 3px #dac0ff;
    }

    100% {
        -moz-box-shadow: 0 0 0 0 #dac0ff;
        box-shadow: 0 0 0 0 #dac0ff;
    }
}

.new-popup {
    animation: slideIn 0.2s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

/*!*************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!./components/chatlist/chatlist.css ***!
  \*************************************************************************************/
.container {
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}

.workflow {
    z-index: 1;
    background-color: #f5f5f5;
}

.inactive {
    opacity: 0.7;
    pointer-events: none;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 40px;
    background-color: #9e63e9;
    color: #f5f5f5;
    position: sticky;
    top: 0;
    z-index: 2;
}

.burger {
    position: relative;
    margin-left: 14px;
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 23px;
    height: 23px;
    cursor: pointer;
    color:#f5f5f5;
}

.burger-line {
    width: 100%;
    height: 2.5px;
    padding: 1px, 0px;
    background-color: #f5f5f5;
    transition: transform 0.2s ease;
}

.burger-line.cross:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.burger-line.cross:nth-child(2) {
    opacity: 0;
}

.burger-line.cross:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.menu {
    z-index: 3;
    position: absolute;
    left: 20px;
    top: 50px;
    display: grid;
    margin-block-start: 0.5lh;
    background-color: #f5f5f5;
    overflow: hidden;
    line-height: 0;
    padding-inline-start: 0px;
    border-radius: 5px;
    box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.2);
}

.menu-item {
    transition: line-height 0.5s, color 0.5s;
    overflow: hidden;
    color: transparent;
    border-radius: 5px;
}

.menu-link {
    color: currentColor;
    text-decoration: none;
    display: block;
    padding: 0.5lh 10px;
    cursor: not-allowed;
}

.menu-link:hover,
.menu-link:focus-visible {
    background-color: #9e63e9;
    color: #f5f5f5;
}

.menu-item.active {
    line-height: 1.2;
    color: #9e63e9;
    border: 0.08lh solid #f5f5f5;
}

.app {
    margin-left: 20px;
}

.search {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
}

.chat-list {
    padding: 20px;
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #d4d4d4;
    cursor: pointer;
}

.chat-item:hover {
    background-color: #e5d2ffd3;
    border-radius: 7px;
}

.chat-item:last-child {
    border-bottom: none;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.chat-name {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

#chat-name {
    text-align: center;
}

.last-msg {
    margin: 0;
    font-size: 14px;
    color: #888;
}

.time-block {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.time {
    margin-left: auto;
    font-size: 12px;
    color: #888;
}

.unread {
    background-color: #9e63e9;
    color: #f5f5f5;
    border-radius: 40%;
    padding: 5px 10px;
    margin-left: 10px;
    margin-right: 4px;
    font-size: 12px;
    font-weight: bold;
}

.create-chats {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #9e63e9;
    border-radius: 50%;
    border: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
}

.newchat-menu {
    z-index: 3;
    position: fixed;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    display: none;
}

.chatmenu-title {
    margin: 5px 5px;
    padding: 0px 5px;
}

.chatmenu-header {
    display: flex;
    justify-content: center;
    
}

.chatmenu-lines {
    margin: 5px 5px;
    padding: 0px 5px;
    width: -webkit-fill-available;
    height: 27px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chatmenu-lines:focus {
    outline-color: #818181;
}

#avatar-input {
    display: none;
}

.chat-menu-blocks {
    display: flex;
    justify-content: center;
}

.avatar-label {
    display: inline-block;
    margin: 5px;
    background-color: #f5f5f5;
    border-radius: 50%;
    cursor: pointer;
}

.avatar-selected {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.create-chats:hover {
    transform: translateY(-5px);
}

.nocreate-chat {
    position: absolute;
    display: flex;
    align-items: center;
    right: 10px;
    top: 10px;
}

.icon-plus {
    position: fixed;
    padding: 5px;
    font-size: 25px;
    color: #f5f5f5;
}

.chat-menu-apply {
    color: #9e63e9;
    border-radius: 5px;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    border: transparent;
    cursor: pointer;
}

.chat-menu-cancel {
    color: #ccc;
    font-size: 18px;
    cursor: pointer;
}

.chat-menu-cancel:hover {
    color: #818181;
}

.chat-menu-apply:hover {
    color: #2f0369;
    box-shadow: 0 0 0 #dac0ff;
    animation: pulse 2s infinite;
    color: #2f0369;
}

.icon-plus:hover {
    color: #2f0369;
}

.warning::placeholder {
    color: red;
    opacity: 0.7;
}

.u-read {
    opacity: 0;
}

.modal-popup {
    animation: fadeInOut 0.3s ease-in-out;
}

@keyframes fadeInOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*!**************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!./index.css ***!
  \**************************************************************/

