$color_1: #9e63e9;
$color_2: #ccc;
$color_3: #818181;
$color_4: #2f0369;
$color_5: red;
$font-family_1: Helvetica, Arial, sans-serif;
$background-color_1: #f5f5f5;
$border-color_1: #ccc;
$border-color_2: #818181;

@keyframes fadeInOut {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 #dac0ff;
	}
	70% {
		-webkit-box-shadow: 0 0 0 3px #dac0ff;
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 #dac0ff;
	}
}
@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 #dac0ff;
		box-shadow: 0 0 0 0 #dac0ff;
	}
	70% {
		-moz-box-shadow: 0 0 0 3px #dac0ff;
		box-shadow: 0 0 0 3px #dac0ff;
	}
	100% {
		-moz-box-shadow: 0 0 0 0 #dac0ff;
		box-shadow: 0 0 0 0 #dac0ff;
	}
}
.newchat-menu {
	z-index: 3;
	position: fixed;
	width: 300px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $background-color_1;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	animation: fadeInOut 0.3s ease-in-out;
}
.chatmenu-title {
	margin: 5px 5px;
	padding: 0px 5px;
}
.chatmenu-header {
	display: flex;
	justify-content: center;
}
.chatmenu-lines {
	background-color: $background-color_1;
	text-align: center;
	margin-bottom: 10px;
	padding: 0px 5px;
	width: 260px;
	height: 27px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-color: $border-color_1;
	outline: none;
	&:focus {
		border-color: $border-color_2;
	}
}
.chat-menu-blocks {
	display: flex;
	justify-content: center;
}
.avatar-label {
	display: inline-block;
	margin: 5px;
	background-color: $background-color_1;
	border-radius: 3px;
	cursor: pointer;
}
.avatar-selected {
	width: 250px;
	height: 250px;
	border-radius: 3px;
}
.nocreate-chat {
	position: absolute;
	display: flex;
	align-items: center;
	right: 10px;
	top: 10px;
}
.chat-menu-apply {
	color: $color_1;
	border-radius: 5px;
	font-size: 15px;
	font-family: $font-family_1;
	font-weight: 400;
	border: transparent;
	cursor: pointer;
	margin-top: 5px;
	&:hover {
		color: $color_4;
		box-shadow: 0 0 0 #dac0ff;
		animation: pulse 2s infinite;
	}
}
.chat-menu-cancel.chat-menu-cancel {
	color: $color_2;
	font-size: 17px;
	cursor: pointer;
	&:hover {
		color: $color_3;
	}
}
.warning {
	&::placeholder {
		color: $color_5;
		opacity: 0.7;
	}
}
