$color_1: white;
$color_2: #2f0369;
$background-color_1: #9e63e9;

.chat-header {
	display: flex;
	align-items: center;
	padding: 10px;
	background-color: $background-color_1;
	color: $color_1;
	position: sticky;
	top: 0;
	z-index: 2;
	.avatar {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		margin-right: 10px;
		margin-left: 10px;
		cursor: pointer;
	}
	.header-right {
		display: flex;
		align-items: center;
		margin-left: auto;
		.icons {
			font-size: 25px;
			margin: 0 10px;
		}
	}
}
.user-block {
	cursor: pointer;
	display: flex;
	flex-direction: row;
}
.data-block {
	.username {
		margin: 0;
	}
	display: flex;
	flex-direction: column;
}
.back {
	font-size: 25px;
	padding: 5px;
	margin-right: 5px;
	margin-left: 10px;
}
.toucheble {
	&:hover {
		cursor: pointer;
		color: $color_2;
		transition: transform 0.2s ease;
		transform: translateY(-3px);
	}
}
