.chatHeader {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #9e63e9;
    /* Фиолетовый цвет заголовка */
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.backButton {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
    font-size: 18px;
    /* Увеличим размер кнопки */
}


.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.userInfo {
    margin-left: auto;
    /* Выравнивание информации о пользователе справа */
}

.userName {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.userStatus {
    margin: 0;
    font-size: 14px;
    color: #ddd;
    /* Светло-серый цвет для статуса */
}
