.chat-message {
  display: flex;
  margin-bottom: 10px;
}

.chat-message.user {
  display: flex;
  flex-direction: row-reverse;
}

.chat-message .message-content {
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
  word-wrap: break-word;
  margin-left: 10px;
  cursor: pointer;
}

.chat-message.user .message-img {
  padding: 4px;
  border-radius: 10px;
  max-width: 95%;
  word-wrap: break-word;
  margin-left: 10px;
  background-color: #c398ff;
  color: white;
  cursor: pointer;
}

.chat-message.other .message-img {
  padding: 4px;
  border-radius: 10px;
  max-width: 95%;
  word-wrap: break-word;
  margin-left: 10px;
  background-color: #e0e0e0;
  cursor: pointer;
}

.chat-message.user .message-content {
  background-color: #bb8cfdd3;
  color: white;
}

.chat-message.other .message-content {
  background-color: #e0e0e0;
}

.chat-message .message-time {
  font-size: 12px;
  color: #5d5d5d;
  display: flex;
  flex-direction: row-reverse;
}

.img {
  border-radius: 3px;
}

.checked {
  color: #2f0369;
  font-size: 18px;
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 200, "opsz" 48;
}

.new-message {
  box-shadow: 0 0 0 #dac0ff;
  animation: pulse 2s;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #dac0ff;
  }

  70% {
    -webkit-box-shadow: 0 0 0 3px #dac0ff;
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 #dac0ff;
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #dac0ff;
    box-shadow: 0 0 0 0 #dac0ff;
  }

  70% {
    -moz-box-shadow: 0 0 0 3px #dac0ff;
    box-shadow: 0 0 0 3px #dac0ff;
  }

  100% {
    -moz-box-shadow: 0 0 0 0 #dac0ff;
    box-shadow: 0 0 0 0 #dac0ff;
  }
}

.new-popup {
  animation: slideIn 0.2s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
