.chat-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #d4d4d4;
  cursor: pointer;
}

.chat-item:hover {
  background-color: #e5d2ffd3;
  border-radius: 7px;
}

.chat-item:last-child {
  border-bottom: none;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-block {
  display: flex;
  flex-direction: column;
}

.chat-name {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.last-msg {
  margin: 0;
  font-size: 14px;
  color: #888;
}

.time-block {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.time {
  margin-left: auto;
  font-size: 12px;
  color: #888;
}

.unread {
  background-color: #9e63e9;
  color: #f5f5f5;
  border-radius: 40%;
  padding: 5px 10px;
  margin-left: 10px;
  margin-right: 4px;
  font-size: 12px;
  font-weight: bold;
}

.u-read {
  opacity: 0;
}

.checked {
  color: #2f0369;
  font-size: 18px;
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 200, "opsz" 48;
}
